# Build and IDE
/.vs/
/.vscode/
*.VC.db
*.suo
*.user
*.vcxproj.user
*.opendb
*.tlog

# CMake
/build_*/
/CMakeFiles/
/CMakeCache.txt
/*.dir/
/*.pdb
/*.ilk
/*.obj
/*.log

# Artifacts and packages
/dist/
*.zip
*.7z
*.tar
*.tar.gz

# Third-party heavy deps (recreated by scripts/setup-windows.ps1)
/third_party/vcpkg/
/third_party/openh264/

# PJSIP install output
/vendor/pjsip/install/

# pjproject build outputs
/pjsip/pjproject/lib/
/pjsip/pjproject/x64/

# Local env files
*.env
*.local
/pjsip
